@model BMS.Controllers.Schedule

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Schedule</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.DepartureTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DepartureTime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ArrivalTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ArrivalTime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Frequency)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Frequency)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DaysOfOperation)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DaysOfOperation)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Bus.BusNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Bus.BusNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Route.RouteName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Route.RouteName)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ScheduleID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
