@model IEnumerable<BMS.Controllers.Bus>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create", null, new { @class = "btn btn-primary" })
</p>
<div class="table-responsive">
    <table class="table table-striped table-bordered">
        <thead>
            <tr>
                <th>Bus Number</th>
                <th>Bus Model</th>
                <th>Capacity</th>
                <th>Purchase Date</th>
                <th>Status</th>
                <th>Maintenance Schedule</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@Html.DisplayFor(modelItem => item.BusNumber)</td>
                    <td>@Html.DisplayFor(modelItem => item.BusModel)</td>
                    <td>@Html.DisplayFor(modelItem => item.Capacity)</td>
                    <td>@Html.DisplayFor(modelItem => item.PurchaseDate)</td>
                    <td>@Html.DisplayFor(modelItem => item.Status)</td>
                    <td>@Html.DisplayFor(modelItem => item.MaintenanceSchedule)</td>
                    <td>
                        @Html.ActionLink("Edit", "Edit", new { id = item.BusID }, new { @class = "btn btn-primary btn-sm" })
                        @Html.ActionLink("Details", "Details", new { id = item.BusID }, new { @class = "btn btn-info btn-sm" })
                        @Html.ActionLink("Delete", "Delete", new { id = item.BusID }, new { @class = "btn btn-danger btn-sm" })
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
