@model IEnumerable<BMS.Controllers.MaintenanceRecord>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.FormattedID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MaintenanceDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Cost)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ServiceCenter)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NextScheduledMaintenance)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Bus.BusNumber)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.FormattedID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MaintenanceDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Cost)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ServiceCenter)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NextScheduledMaintenance)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Bus.BusNumber)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.MaintenanceID }) |
            @Html.ActionLink("Details", "Details", new { id=item.MaintenanceID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.MaintenanceID })
        </td>
    </tr>
}

</table>
